{% extends 'base.html' %}


{% block title %}{{restaurant_name}}{% endblock %}

{% block head %} 
<meta name="description" content="Welcome to {{ restaurant_name }}, where you can enjoy authentic flavors and a cozy atmosphere.">
<meta name="keywords" content="{{ restaurant_name }}, restaurant, authentic cuisine, {{ restaurant_location_model.0.address }}">
{% endblock %}

{% block style %}
.full-screen-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-grandient(135deg, #FF6F61, #D84315);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    font-align: center;
    margin: 0;
    paddding: 0 1rem;
}

.full-screen-title p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: 400;
}

.full-screen-title .phone {
    font-size: 1.25rem;
    margin-top: 1rem;
    font-weight: 600;
}
{% endblock %}

{% block content %}
<nav class="text-center">
    <form method="get">
    <input type="text" name="find" placeholder="Name of the dish"
    class="form-control mt-2" value="{{ request.GET.find }}">
    <button type="submit" class="btn btn-primary">Find</button>
    </form>
</nav>

<main class="full-screen-title">
    {% if request.GET.find %}
        {% if items_menu %}
            <ul class="list-unstyled">
                {% for item in items_menu %}
                    <li class="mb-2">
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'item-detail' item.id %}">
                            {% if item.item_image %}
                                <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" width="40" class="me-2 rounded">
                            {% endif %}
                            {{ item.item_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-muted">No items found for "{{ request.GET.find }}"</p>
        {% endif %}
    {% else %}
        {% if restaurant_location_model.0.logotype %}
            <img src="{{ restaurant_location_model.0.logotype.url }}" alt="logotype">
        {% endif %}
        {{ restaurant_name }}
        <p class="head">Welcome to {{ restaurant_name }}! Enjoy the authentic flavors and cozy atmoshere.</p>
        <p class="phone">Phone number:{{ restaurant_phone }}.</p>
        {% if total_qty %}
            <p class="fw-bold">In you cart:{{ total_qty }} qty.</p>
        {% endif %}

        <div class="mb-0">
            {% include "include/address.html" %}
        </div>
    {% endif %}
    
    <div>
        <h2>Contact form</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% endblock %}