{% extends 'base.html' %}


{% block title %}Details {{item.item_name}}{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="mb-4">Menu item: #{{item.id}}</h1>
    <p><strong>Name:</strong> {{item.item_name}}</p>
    <p><strong>Price:</strong> {{item.item_price}} $</p>
    <p><small class="text-muted">Created at: {{item.created_at|date:"d, m, Y"}}</small></p>
    <a href="{% url 'product:menu-list' %}" class="btn btn-secondary mt-3">back</a>
</div>
{% endblock %}
